POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST_PORT=
DATABASE_URL=

SOLANA_RPC_URL=

COORDINATOR_HOST=
COORDINATOR_PORT=
COORDINATOR_HOST_PORT=
COORDINATOR_URL=

NODE_A_URL=
NODE_B_URL=
NODE_A_SEALING_KEY=
NODE_B_SEALING_KEY=

TSS_NODE_HOST=
FRONTEND_HOST_PORT=
NEXT_PUBLIC_COORDINATOR_URL=
